<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Angular JWT & Social Login</span>
        <span class="example-spacer"></span>
        <button mat-mini-fab color="warn" (click)="signOut()" color="warn" matTooltip="Çıkış Yap" matTooltipPosition="below"
            aria-label="Example icon button with a home icon">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid">
    <form [formGroup]="profileForm">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">

                    <img class="rounded-circle mt-5" width="150px"
                    src="{{dataimage}}">
                    <br>
                    <button mat-mini-fab color="primary" matTooltip="Profil Resmini Değiştir" (click)="fileInput.click()" aria-label="Example icon button with a filter list icon"><mat-icon>edit</mat-icon>
                    </button>
                    <input type="file" style="display:none"  #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" accept="image/*" />
                    
                    <span class="font-weight-bold mt-3">{{this.profileForm.controls['firstName'].value}} {{this.profileForm.controls['lastName'].value}}</span>
                    <span class="text-black-50">{{this.profileForm.controls['email'].value}}</span>

                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">

                    <div class="d-flex justify-content-between align-items-center experience"><span>Hesap
                            Bilgileri</span>
                            <div>
                                <button style="margin-right: 10px;" matTooltip="Şifre İşlemleri" matTooltipPosition="before" mat-fab color="primary"
                                aria-label="Example icon button with a delete icon">
                                <mat-icon>lock</mat-icon>
                            </button>
                            <button matTooltip="Değişikleri Kaydet" (click)="saveProfile()" matTooltipPosition="before" mat-fab color="warn"
                            aria-label="Example icon button with a delete icon">
                            <mat-icon>save</mat-icon>
                        </button>
                            </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Adınız</mat-label>
                                <input type="text" formControlName="firstName" matInput>
                                <mat-icon matSuffix>account_circle</mat-icon>
                                <mat-hint style="color: red;"
                                    *ngIf="profileForm.get('firstName')?.touched &&  profileForm.get('firstName')?.errors?.required">
                                    Ad Gereklidir.
                                </mat-hint>

                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Soyadınız</mat-label>
                                <input type="text" formControlName="lastName" matInput>
                                <mat-icon matSuffix>account_circle</mat-icon>
                                <mat-hint style="color: red;"
                                    *ngIf="profileForm.get('lastName')?.touched &&  profileForm.get('lastName')?.errors?.required">
                                    Soyadı Gereklidir.
                                </mat-hint>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>E-Mail Adresiniz</mat-label>
                                <input type="email" formControlName="email" matInput>
                                <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Telefon Numarası (GSM)</mat-label>
                                <input type="tel" formControlName="tel" matInput>
                                <mat-icon matSuffix>call</mat-icon>

                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>İl</mat-label>
                                <input type="text" formControlName="city" matInput>
                                <mat-icon matSuffix>location_city</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>İlçe</mat-label>
                                <input type="text" formControlName="county" matInput>
                                <mat-icon matSuffix>location_city</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Adres</mat-label>
                                <textarea matInput formControlName="address"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Eğitim Bilgileriniz</mat-label>
                                <textarea rows="3" matInput formControlName="educationInfo"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Yetenek
                            Ayarları</span>
                        <button matTooltip="Yetenek Alanı Ekle" matTooltipPosition="before" mat-fab color="primary"
                            (click)="addSkill()" aria-label="Example icon button with a delete icon">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <hr>
                    <ng-container *ngFor="let data of skills.controls; index as i;">
                        <div class="col-md-12 alert alert-success " formArrayName="skills">

                            <ng-container [formGroupName]="i">

                                <button style=" transform: scale(0.7) !important;" mat-mini-fab color="warn"
                                    class="float-end mb-2" matTooltip="Kaldır" matTooltipPosition="before" (click)="deleteSkill(i)"
                                    aria-label="Example icon button with a filter list icon">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Yetenek</mat-label>
                                    <input type="text" formControlName="skillName" matInput>
                                    <mat-icon matSuffix>auto_fix_high</mat-icon>
                                    <mat-hint style="color: red;"
                                        *ngIf="profileForm.get('skillName')?.touched &&  profileForm.get('skillName')?.errors?.required">
                                        E-Mail Adresi Gereklidir
                                    </mat-hint>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Detaylar</mat-label>
                                    <input type="text" formControlName="skillDescription" matInput>
                                    <mat-icon matSuffix>description</mat-icon>
                                    <mat-hint style="color: red;"
                                        *ngIf="profileForm.get('skillDescription')?.touched &&  profileForm.get('skillDescription')?.errors?.required">
                                        E-Mail Adresi Gereklidir
                                    </mat-hint>
                                </mat-form-field>
                            </ng-container>
                        </div>

                    </ng-container>

                </div>
            </div>
        </div>
        
    </form>
    {{profileForm.value | json}}
    {{profileForm.status}}
</div>